<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">   
  
<bean id="addressManager" class="org.appfuse.service.impl.GenericManagerImpl">        
    <constructor-arg>            
        <bean class="org.appfuse.dao.hibernate.GenericDaoHibernate" autowire="byType">                
            <constructor-arg value="com.kleinfelter.model.Address"/>            
        </bean>        
    </constructor-arg>    
</bean>  
<bean id="addressAction" class="com.kleinfelter.webapp.action.AddressAction" scope="prototype">   
    <property name="addressManager" ref="addressManager"/>   
</bean> 
</beans>  
